[submodule "nw_lib"]
	path = nw_lib
	url = https://github.com/Natlys/nw_lib
[submodule "nw_gfx"]
	path = nw_gfx
	url = https://github.com/Natlys/nw_gfx
[submodule "nw_gui"]
	path = nw_gui
	url = https://github.com/Natlys/nw_gui
[submodule "nw_lua"]
	path = nw_lua
	url = https://github.com/Natlys/nw_lua
[submodule "nw_cmd"]
	path = nw_cmd
	url = https://github.com/Natlys/nw_cmd
[submodule "nw_iop"]
	path = nw_iop
	url = https://github.com/Natlys/nw_iop
[submodule "nw_num"]
	path = nw_num
	url = https://github.com/Natlys/nw_num
[submodule "nw_mem"]
	path = nw_mem
	url = https://github.com/Natlys/nw_mem
[submodule "nw_cfg"]
	path = nw_cfg
	url = https://github.com/Natlys/nw_cfg
